*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    background-image: url(./media/background.jpg);
    background-size: cover;
    font-family: SimSun, STSong, serif;
}
.preface{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000044;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 12px;
}
.preface h2{
    color: #fff;
}
.preface p{
    /* margin-top: 10px; */
    text-indent: 2em;
    text-align: justify;
    padding: 0 10px;
    color: #fff;
}
.box{
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 12vh;
    background-color: #00000043;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    margin-bottom: 15px;
}
.box img{
    width: 10vw;
    /* height: 10vh; */
}
.box ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}